name: Terraform Change Trigger

on:
  push:
    paths:
      - '**/*.tf'
  pull_request:
    paths:
      - '**/*.tf'

jobs:
  terraform-changed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7  # You can set this to any version you need

      - name: Run terraform fmt check and save output
        id: fmt
        run: |
          terraform fmt -check -recursive -diff > fmt_output.txt || echo "Terraform formatting issues found." >> fmt_output.txt
          cat fmt_output.txt

      - name: Upload terraform fmt output
        uses: actions/upload-artifact@v4
        with:
          name: terraform-fmt-output
          path: fmt_output.txt

      - name: Fail if formatting issues were found
        run: |
          if grep -q '^diff' fmt_output.txt || grep -q '\.tf' fmt_output.txt; then
            echo "❌ Terraform formatting issues detected."
            exit 1
          else
            echo "✅ Terraform code is properly formatted."
          fi

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Terraform Change Analyzer
        run: python scripts/analyze_changes.py
